$default-white: #FAFAFA;
$default-black: #5A6175;

$default-bgcolor: $default-white;
$default-fontcolor: $default-black;

$primary-color: #F7C383; //#B783F7; //#83C3F7; //#F7C383; //#F78383;
$primary-constrast-color: #FFFCF7;