.toolbar {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 12px 24px;
    
    .title { 
        font-weight: 600;
        font-size: 20px;
        color: #646363 !important;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    .search-wrapper {
        background: #fff;
        width: 100%;
        max-width: 480px;
        border-radius: 28px;
        overflow: hidden;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        border: 2px solid #738497;

        .search {
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0 18px;

            .mat-icon {
                color: #738497;
            }

            input {
                background: #fff;
                color: rgba(0,0,0,.87);
                height: 48px;
                min-height: 48px;
                max-height: 48px;
                padding: 0 16px;
                border: none;
                outline: 0;
            }
        }
    }
}

.toolbar + .content {
    margin: 12px;

}
